:root {
  {{#shades}}	
  --{{colorName}}-{{shadeName}}: {{srgbFallback}};
  {{/shades}}
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root {
      {{#shades}}	
      --{{colorName}}-{{shadeName}}: {{oklch}};
      {{/shades}}
    }
  }
}
